<nav class="nav-bar">
    <a href="../../HTML/CommonPage/CommonPage.html">Home</a>
    <a href="../../HTML/Manager/ManagerLogin.html">Back</a>
    <a href="../../HTML/Manager/Manager.html" class="selected">Manager</a>
    <a href="../../HTML/Producer/ProducerLogin.html">Producer</a>
    <a href="../../HTML/DJ//DJ.html">DJ</a>
</nav>
